.btn {
	border-radius: 2px;
	padding: 20px;
	width:100%;
	margin-top: 40px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	background-color: #F6F6F6;
 	font-weight:bold;
 	color:#333;
 	text-decoration: none;

}

.btn:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: white;
	opacity: 1;
}

.btn:active {
	color: ;
}

.container {
	max-width: 600px;
}


.form-control {
	height: 62px;
	font-size: 24px;
	width: 100%;
	text-align: right;
}

.input-group .input-group-addon + .form-control 
{
	border-left:none;
	background-color: white;
}

.input-group-addon {
	background-color: white;
}

.national-avg {
	text-align: center;
}

body {
  background: linear-gradient(45deg, #0A296F, #9E3ED2);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

h1 {
	color: white;
	font-size: 28px;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: white;
	opacity: .5;
}

a:active {
	color: white;
}


form {
    width: 100%;
    max-width: 600px;
}
form input {
    font-size: 30px;
    padding: 0;
    border: 2px solid #ccc;
    border-left: 0;
    width: 100%;
    color: #666;
    border-radius: 0 7px 7px 0;
}
form input:focus {
    outline: 0;
}
form input.error {
    border-color: #red;  
}
form label.error {
    background-color: red;
    color: #fff;
    padding: 6px;
    font-size: 11px;
}

label {
    color: #999;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.05em
}
.flex {
    display: flex;
    justify-content: flex-start;
    height: 62px;
}
.flex input {
    flex: 1 1 300px;
    text-align: right;
    padding-right: 20px;
}
.flex .currency {
    font-size: 28px;
    padding: 0 10px 0 20px;
    color: #999;
    border: 2px solid #ccc;
    border-right: 0;
    line-height: 2;
    border-radius: 7px 0 0 7px;
    background: white;
}
